<div id="app" class="app_bg">
        <div id="appContainer">
            <div id="headerRegion"><div id="chatWrapper" style="">
                <div id="chat"><div id="sectionTitle">@ViewBag.SectionTitle</div>
                <div id="toolsBtnLayer"><a href="@Url.Action("GameDetails", "Game")" class="linkButton"><span class="textInLinkButton">To Game Details</span></a></div>
                </div>
                </div>
                </div>

            <div id='dialogRegion'>
                <div id="partnerLogoLayer"></div>
                <div id="contentRegion" role="main" style="display: block;"