@{
    ViewBag.Title = "DBError";
}

<h2>Server side validation error.</h2>

<p>
    @Html.ActionLink("Back to MyGames", "MyGames")
</p>

<p>
    You should not have reached this page unless your client-side javascript failed or is not turned on.
</p>
