@{
    ViewBag.Title = "HTML5 Contact Form";
}



<div id="app" class="app_bg">
        <div id="appContainer">
            <div id="headerRegion"><div id="chatWrapper" style="">
                <div id="chat"><div id="sectionTitle">Game Details</div></div>
                </div>
            </div>
            <div id='dialogRegion'>
                <div id="partnerLogoLayer"></div>
                <div id="contentRegion" role="main" style="display: block;">

                    
                            @{
                                Html.RenderPartial("~/Areas/Coordinator/Views/Shared/_GameDetails.cshtml");
                            }
                        
                      
            </div>
          
        </div>

    </div>
</div>
    
    <div id="app_bottom"></div>
    <div id="leftNavLayer" class="sku_16">        
            <div id="bannerRegion" role="banner">
            <div id="ttoLogoLayer"><img alt="" border="0" src=""></div>
            <div id="accessRegion">
                    <a id="skipId" href="#mainBody">Skip to Main Content</a>
            </div>
                </div>
        
        
            <div id="tabRegion" role="navigation">
            <div id="tabBarLayer" style="visibility: inherit;">
                <ul
                    ><li class="on">
                        <a class="lnk" id="cat0" >
                            <div class="navLnk">Game Details</div>
                        </a>
                     </li>
                    <li class=""><a class="lnk" id="cat1" >
                        <div class="navLnk">Players</div></a>
                    </li>
                    
                    <li class=""><a class="lnk" id="cat2" ><div class="navLnk">Round 1 Course</div></a>
                    </li>

                    <li class="">     
                                <a class="lnk" id="cat3" ><div class="navLnk">Foursomes</div></a>
                    </li>
                    
                    <li class=""><a class="lnk" id="cat4" ><div class="navLnk">Course</div></a>
                    </li>
                    
                    <li class=""><a class="lnk" id="cat5" ><div class="navLnk">Handicaps</div></a>
                    </li>

                    <li class=""><a class="lnk" id="cat6" ><div class="navLnk">Start Game</div></a>
                    </li>
                    
                    
                
        
                    </div>
            </div>
        </div>








