@model UnscrambledMVC4.Areas.Gamezone.Models.ViewModels.PageViewGameLeaderboard

@{
    ViewBag.Title = "Leaderboard";
}
<head>
    
</head>
<body>

@{
    Html.RenderPartial("~/Areas/Gamezone/Views/Shared/_Leaderboard_1Round_InProgress.cshtml", Model);
}


</body>
</html>